<a href="https://colab.research.google.com/github/Ansh-Kushwaha/IV-SEM-Repo/blob/main/PythonNotes/PythonNotes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Hello World Program** / **Introduction**

In [ ]:
print("Hello World!")

Hello World!

## Indentation
It refers to the spaces at the beginning of a code line.

In [7]:
def myPrintFun():
  print("Indentation!")

myPrintFun()

Indentation!

## Comments
Comments can be used to explain python code, make the code more readable.
Single line comments start with a #, <br>
multiline comments can be put inside triple quotes ''' ''' or a # before each line.

In [ ]:
# This is a comment
""" 
This is a
multiline comment
"""
# Also a
# multiline comment

' This is a\n    multiline comment '

# **Variables**
Variables are containers for storing data values.

- If you want to specify the data type of a variable, this can be done with casting.

- You can get the data type of a variable with the type() function.

In [ ]:
x = 1 #int
y = "ABC" #String
z = 'DEF' #String

print(x, y, z)

# Multiple assignment
a, b, c = 25, 30, 35

print(a, b, c)

# One value to multiple variables
X = Y = Z = 1

print(X, Y, Z)

# Unpacking list
fruits = ["Apple", "Banana", "Cherry"]
d, e, f = fruits

print(d, e, f)

# Variable scope
s = "awesome"

def myF():
    s = "fantastic" # local s
    print("Python is " + s)

myF()
print("Python is " + s)

# global keyword

def myF2():
    global g
    g = 12
    print(g)
myF2()
print(g)

1 ABC DEF
25 30 35
1 1 1
Apple Banana Cherry
Python is fantastic
Python is awesome
12
12

# **Data Types**

1. Text Type:	*str*
2. Numeric Types:	*int*, *float*, *complex*
3. Sequence Types:	*list*, *tuple*, *range*
4. Mapping Type: *dict*
5. Set Types:	*set*, *frozenset*
6. Boolean Type:	*bool*
7. Binary Types:	*bytes*, *bytearray*, *memoryview*
8. None Type:	*NoneType*

- Use the type() function to get the data type of a variable

In [27]:
a = "Hello!" # str
print(a,"\t", type(a))

a = 99 # int
print(a,"\t", type(a))

a = 75.3 # float
print(a,"\t", type(a))

a = 2 + 3j # complex
print(a,"\t", type(a))

a = [1, 2, 3] # list (mutable)
print(a,"\t", type(a))

a = (1, 'a', 2j) # tuple (immutable)
print(a,"\t", type(a)) 

a = range(1, 11) # range
print(a,"\t", type(a))

a = {'name': "Ansh", 'section': 'A'} # dict
print(a,"\t", type(a))

a = {'orange', 'apple', 'banana'} # set (mutable)
print(a,"\t", type(a))

a = frozenset(a)
print(a,"\t", type(a)) # frozenset (immutable)

a = True # bool
print(a,"\t", type(a))

Hello! 	 <class 'str'>
99 	 <class 'int'>
75.3 	 <class 'float'>
(2+3j) 	 <class 'complex'>
[1, 2, 3] 	 <class 'list'>
(1, 'a', 2j) 	 <class 'tuple'>
range(1, 11) 	 <class 'range'>
{'name': 'Ansh', 'section': 'A'} 	 <class 'dict'>
{'banana', 'apple', 'orange'} 	 <class 'set'>
frozenset({'banana', 'apple', 'orange'}) 	 <class 'frozenset'>
False 	 <class 'bool'>

# **Type Casting**
To specify the type of avariable, cast it into one of the many available data types.
Casting is dont using constructor functions, such as int(), float(), etc.

In [ ]:
x = input()
x = int(x)
print(x)

5
5